@media only screen
    and (max-device-width: 535px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait) {
    .col1 {
        order: 2;
        flex-grow: 1;
        transform: scale(0.5);
    }
    .col2 {
        order: 1;
        flex-grow: 1;
    }
    .col3 {
        order: 3;
        flex-grow: 1;
        transform: scale(0.5);
    }
}