@media only screen
    and (max-width: 992px) {
        body {
            main {
                margin: 15px auto;
                /*grid-template-columns: repeat(3, minmax(0, 1fr));
                grid-template-rows: 1;*/
                grid-template-columns: repeat(2, minmax(0, 1fr));
                grid-template-rows: repeat(2, 1fr);
                .playerOneWrapper, .playerTwoWrapper {
                    font-size: 0.6em;
                }
                .col1, .col2 {
                    padding: 16px;
                }
                .col1 {
                    grid-area: 1 / 1 / 2 / 2;
                }
                .col2 {
                    grid-area: 1 / 2 / 2 / 3;
                }
                .gameWrapper {
                    grid-area: 2 / 1 / 3 / 3;
                }
            }
        }
}
@media only screen
    and (max-width: 768px) {
        body {
            main {
                margin: 10px auto;
                .playerOneWrapper, .playerTwoWrapper {
                    padding: 5px;
                }
                .col1, .col2 {
                    padding: 5px;
                }
            }
        }
}
/*@media (orientation: landscape) {
    body {
        main { 
            margin: 6px auto;
        }
    }
}*/