@media only screen
    and (max-device-width: 1100px) {
    .col1, .col2 {
        margin: 0;
        /*padding: 0 !important;*/
        .playerInfoWrapper {
            float: left;
            width: 100% !important;
            margin: 20px !important;
        }
    }
    .col1 {
        flex-grow: 1;
        transform: scale(0.5);
        transform-origin: top;
        transition: $transition;
    }
    .col2 {
        flex-grow: 1;
        width: 100%;
        transform-origin: top;
        transition: $transition;
    }
}