.resetButton {
    display: inline-block;
    cursor: pointer;
    background-color: $white;
    color: black;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid $black;
    box-shadow: $boxshadow;
    &:hover {
        background-color: $lightgrey;
        transition: $hovertransition;
    }
}