.button {
    border: 1px solid $black;
    border-radius: 5px;
    font-family: 'REM', sans-serif;
    text-align: center;
    background-color: $white;
    color: black;
    padding: 10px;
    cursor: pointer;
    &:hover {
        background-color: $lightgrey;
        transition: $transition;
        transform: scale(1.05);
        box-shadow: $buttonhovershadow;
    }
    &.disabled {
        cursor: not-allowed;
        color: grey;
        border: 1px solid grey;
        &:hover {
            background-color: inherit;
            transition: $transition;
            transform: none;
            box-shadow: none;
        }
    }
}
.goPlayerOneButton, .goPlayerTwoButton {
    display: block;
    cursor: pointer;
    background-color: rgba($green, 0.8);
    color: $white;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    max-width: 150px;
    border: 1px solid $black;
    font-family: 'REM', sans-serif;
    text-align: center;
    font-size: 0.7em;
    &:hover {
        background-color: $green;
        transition: $transition;
        transform: scale(1.05);
        box-shadow: $buttonhovershadow;
    }
}
.resetButton {
    display: block;
    cursor: pointer;
    background-color: $white;
    color: black;
    padding: 10px;
    margin: 30px auto;
    border-radius: 5px;
    max-width: 150px;
    border: 1px solid $black;
    font-family: 'REM', sans-serif;
    text-align: center;
    &:hover {
        background-color: $lightgrey;
        transition: $transition;
        transform: scale(1.05);
        box-shadow: $buttonhovershadow;
    }
}
.playerModeButtons {
    text-align: center;
    .onePlayerModeButton,
    .twoPlayerModeButton {
        max-width: 150px;
        display: inline-block;
    }
}