.thegrid { 
    background-color: $black;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: $boxshadow;
    .square {
        background-color: $white;
        height: 98px;
        width: 98px;
        float: left;
        border: 1px solid $black;
        border-radius: 10px;
    } & .x {
        background: no-repeat center/contain url(../img/x.png);
        box-shadow: $boxshadowinset;
        transition: $hovertransition;
    } & .o {
        background: no-repeat center/contain url(../img/o.png);
        box-shadow: $boxshadowinset;
        transition: $hovertransition;
    }
}