.thegrid { 
    background-color: $black;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: var(--boxshadow);
}
.thegrid .square {
    background-color: $white;
    height: 98px;
    width: 98px;
    float: left;
    border: 1px solid $black;
    border-radius: 10px;
}
.thegrid .square.x {
    background: no-repeat center/cover url(../img/x.png);
    box-shadow: var(--boxshadowinset);
}
.thegrid .square.o {
    background: no-repeat center/cover url(../img/o.png);
    box-shadow: var(--boxshadowinset);
}