.playerOneNameInput, .playerTwoNameInput {
    border: none;
    background-color: $lightgrey;
    font-size: 0.6em;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    font-family: 'REM', sans-serif;
}

.playerOne, .playerTwo, .playerOneTotalWins, .playerTwoTotalWins {
    font-family: 'REM', sans-serif;
    text-align: center;
    font-size: 3em;
    text-shadow: 0px 0px 20px $black;
    color: $white;
    margin: 0 0 20px 0;
}

.currentPlayerArrowPlaceholder {
    visibility: hidden;
    height: 50px;
    width: 50px;
    margin: 20px auto;
    transition: $hovertransition;
    opacity: 0;
    &.current {
        visibility: visible;
        transition: $hovertransition;
        opacity: 1;
    }
    svg {
        height: 50px;
        width: 50px;
        color: $white;
    }
}
#backgroundMusic {
    display: none;
}
