$white: white;
$black: black;
$boxshadow: 0 0 50px 10px rgba(0,0,0,0.6);
$boxshadowinset: inset 0 0 17px 4px rgba(0,0,0,0.3);
$buttonhovershadow: 0 0 20px -2px rgba(0, 0, 0, 0.3);
$green: green;
$red: red;
$lightgrey: rgba(242,242,242,1);
$hovertransition: all 300ms ease-in-out;
$transition: all .2s ease-in-out;