// styles.scss
.testing {
    width: percentage(5/7);
  }


  :root {
    --lightgrey: rgba(242,242,242,1);
    --white: #ffffff;
    --black: black;
    --green: green;
    --red: red;
    --boxshadow: 0 0 50px 10px rgba(0,0,0,0.6);
    --boxshadowinset: inset 0 0 17px 4px rgba(0,0,0,0.3);
}
body {
    background: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), fixed no-repeat center/cover url(../img/background.jpg);
}
main { 
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.playerOneOverlay, .playerTwoOverlay, .winnerOverlay, .tiedOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.9);
    z-index: 10000;
}
.playerOneOverlay .playerOneInput,
.playerTwoOverlay .playerTwoInput,
.winnerOverlay .winnerWrapper,
.tiedOverlay .tiedWrapper {
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    box-shadow: 0 0 100px rgba(0,0,0,.3);
    border-radius: 10px;
    text-align: center;
    font-size: 3em;
    font-family: 'REM', sans-serif;
}
.tiedOverlay .tiedWrapper {
    font-size: 0.5em;
}
.winnerOverlay .winnerWrapper {
    font-size: 1em;
}
.winnerOverlay .winnerWrapper .close,
.tiedOverlay .tiedWrapper .closeNoWinner {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    background-image: url(../img/x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px 30px;
    opacity: 0.5;
}
.winnerOverlay .winnerWrapper .close:hover {
    opacity: 1;
}
.playerOneOverlay.hidden,
.playerTwoOverlay.hidden,
.winnerOverlay.hidden,
.tiedOverlay.hidden {
    display: none;
}
.playerOneNameInput, .playerTwoNameInput {
    border: none;
    background-color: rgba(225,225,225,1);
    font-size: 0.6em;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    font-family: 'REM', sans-serif;
}
.thegrid { 
    background-color: var(--black);
    max-width: 600px;
    width: 100%;
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr); 
    grid-column-gap: 10px;
    grid-row-gap: 10px; 
    border: 10px solid var(--black);
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: var(--boxshadow);
}
.thegrid .square {
    background-color: var(--white);
    height: 200px;
    border-radius: 10px;
}
.thegrid .square.x {
    background: no-repeat center/cover url(../img/x.png);
    box-shadow: var(--boxshadowinset);
}
.thegrid .square.o {
    background: no-repeat center/cover url(../img/o.png);
    box-shadow: var(--boxshadowinset);
}
.playerOne, .playerTwo, .playerOneTotalWins, .playerTwoTotalWins {
    font-family: 'REM', sans-serif;
    text-align: center;
    font-size: 3em;
    text-shadow: 0px 0px 20px var(--black);
    color: var(--white);
    margin: 0;
}
.col1, .col2, .col3 {
    padding-top: 25px;
    text-align: center;
    font-family: 'REM', sans-serif;
    color: var(--white);
}
.col1 {
    order: 1;
    flex-grow: 1;
}
.col2 {
    order: 2;
    flex-grow: 2;
}
.col3 {
    order: 3;
    flex-grow: 1;
}

@media only screen and (max-width: 1280px) {
    body {
        margin: 0;
        padding: 0;
    }
    main {
        width: 95%;
    }
    .col1 {
        order: 2;
        flex-grow: 1;
        transform: scale(0.5);
    }
    .col2 {
        order: 1;
        flex-grow: 2;
        width: 100vw;
    }
    .col3 {
        order: 3;
        flex-grow: 1;
        transform: scale(0.5);
    }  
} 
